<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>First animation</title>
  <link rel="shortcut icon" href="/img/logo/logo.png" type="image/x-icon"/>
  <link rel="icon" href="/img/logo/logo.png" type="image/x-icon"/>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body onload="init();">
    <div class="container" align="center">
      <canvas id="demoCanvas" width="786" height="500"></canvas>
    </div>
  </body>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="https://code.createjs.com/createjs-2015.05.21.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/firstanimation.js"></script>
</html>
