<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>cadeau</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color: #FFFFFF;
			margin:0;
			height:100%;
		}
	</style>

	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=device-height" />


	<!-- end copy -->

  </head>
  <body>

	<!-- copy these lines to your document: -->

	<div id="cadeau_hype_container" style="margin:auto;position:relative;width:1240px;height:800px;overflow:hidden;" aria-live="polite">
		<script type="text/javascript" charset="utf-8" src="js/cadeau.hyperesources/cadeau_hype_generated_script.js?13555"></script>
	</div>

	<!-- end copy -->





	<!-- text content for search engines: -->

	<div style="display:none">

		<div></div>
		<div>个人印象
</div>
		<div>姓名：鲍鲍</div>
		<div>炉石
</div>
		<div>特长：J’sais pas</div>
		<div>玩
</div>
		<div>性别：女</div>
		<div>旅行
</div>
		<div>甜点
</div>
		<div>芒果
</div>
		<div>上大
</div>
		<div>智商：时高时低</div>
		<div>棒棒糖
</div>
		<div>程序母猿
</div>
		<div>UTBM

</div>
		<div>巴黎
</div>
		<div>la fin
</div>
		<div>Joyeaux anniverssaire
</div>

	</div>

	<!-- end text content: -->

  </body>
</html>
