<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home of haochen</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body class="homepagebody">
    <div class="blueridertext"> Welcome to my page</div>
    <div class="blueridertext"> 欢迎来到姚昊辰的主页 <br/>
    <a class="btn btn-bluerider" href="/index">进入</a></div>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
