<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block title %}
  {% endblock %}
  <link rel="shortcut icon" href="/img/logo/logo.png" type="image/x-icon"/>
  <link rel="icon" href="/img/logo/logo.png" type="image/x-icon"/>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  {% block style %}
  {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
  <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  {% block javascript %}
  <script>

  swig.setFilter('round', function (input, number) {
    return input.toFixed(number);
  });
  </script>
  {% endblock %}
</html>
