{% extends "layout.html" %}
{% block title %}
	<title>我的家庭</title>
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="js/reveal.js-master/css/reveal.css">
  <link rel="stylesheet" type="text/css" href="js/reveal.js-master/css/theme/white.css">
{% endblock %}

{% block content %}
    <div class="reveal">
      <div class="slides">
          <section  data-background="img/homepage-backgroud.jpg"></section>
          <section>
              <section>Vertical Slide 1</section>
          </section>
      </div>
    </div>
  {% endblock %}
  {% block javascript %}
    <script src="js/reveal.js-master/js/reveal.js"></script>
		<script src="js/reveal.js-master/lib/js/head.min.js"></script>
    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'js/reveal.js-master/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'js/reveal.js-master/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'js/reveal.js-master/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'js/reveal.js-master/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'js/reveal.js-master/plugin/zoom-js/zoom.js', async: true },
          { src: 'js/reveal.js-master/plugin/notes/notes.js', async: true }
        ]
      });
      </script>
  {% endblock %}
