<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>我的家庭</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="js/reveal.js-master/css/reveal.css">
  <link rel="stylesheet" type="text/css" href="js/reveal.js-master/css/theme/white.css">

  </head>
  <body>
    <div class="reveal">
      <div class="slides">
          <section  data-background="img/homepage-backgroud.jpg"></section>
          <section>
              <section>Vertical Slide 1</section>
          </section>
      </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/reveal.js-master/js/reveal.js"></script>
		<script src="js/reveal.js-master/lib/js/head.min.js"></script>
    <script>

      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'js/reveal.js-master/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'js/reveal.js-master/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'js/reveal.js-master/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'js/reveal.js-master/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'js/reveal.js-master/plugin/zoom-js/zoom.js', async: true },
          { src: 'js/reveal.js-master/plugin/notes/notes.js', async: true }
        ]
      });

    </script>
  </body>
</html>
