{% extends 'layout.html' %}
{% block title %}
<title>我</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="css/timeline.css">
{% endblock %}

{% block javascript %}
<script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
<script src="js/mystocks.js"></script>
<script>
$( ".content-perspective" ).click(function() {
  $(this).parent().children().eq(0).prop( "checked", true );
});
</script>
{% endblock %}

{% block content %}
<div class="wrapper">
<div class="container">
<header class="clearfix">

<div class="title">我的<span>成长足迹</span></div>
<div class="support-note">
<span class="note-ie">Sorry, only modern browsers.</span>
</div>

</header>

<section class="main">

<ul class="timeline">
<li class="event">
<input type="radio" name="tl-group" checked/>
<label></label>
<div class="thumb birth"><span>05/11/1989</span></div>
<div class="content-perspective">
<div class="content">
<div class="content-inner">
<h3>我, 出生于这个世界</h3>
<p>感谢我的父母</p>
</div>
</div>
</div>
</li>

<li class="event">
<input type="radio" name="tl-group"/>
<label></label>
<div class="thumb birth"><span>1990某一天</span></div>
<div class="content-perspective">
<div class="content">
<div class="content-inner">
<h3>我学会了说话</h3>
<p>呵呵</p>
</div>
</div>
</div>
</li>

<li class="event">
<input type="radio" name="tl-group"/>
<label></label>
<div class="thumb birth"><span>01/09/1996</span></div>
<div class="content-perspective">
<div class="content">
<div class="content-inner">
<h3>沪东外国语学校</h3>
<p>人生第一堂课</p>
</div>
</div>
</div>
</li>

<li class="event">
<input type="radio" name="tl-group"/>
<label></label>
<div class="thumb birth"><span>01/09/2001</span></div>
<div class="content-perspective">
<div class="content">
<div class="content-inner">
<h3>沪东外国语学校(初中)</h3>
<p>认识了第一群朋友</p>
</div>
</div>
</div>
</li>

<li class="event">
<input type="radio" name="tl-group"/>
<label></label>
<div class="thumb birth"><span>01/09/2006</span></div>
<div class="content-perspective">
<div class="content">
<div class="content-inner">
<h3>北虹高级中学</h3>
<p>中考的失利并没有影响我快(yin)乐(dang)的生活</p>
</div>
</div>
</div>
</li>

<li class="event">
<input type="radio" name="tl-group"/>
<label></label>
<div class="thumb birth"><span>01/09/2008</span></div>
<div class="content-perspective">
<div class="content">
<div class="content-inner">
<h3>上海大学</h3>
<p>啊哟不错哟</p>
</div>
</div>
</div>
</li>

<li class="event">
<input type="radio" name="tl-group"/>
<label></label>
<div class="thumb birth"><span>01/09/2011</span></div>
<div class="content-perspective">
<div class="content">
<div class="content-inner">
<h3>Polytech Nice Sophia</h3>
<p>异国他乡, 人生关键节点</p>
</div>
</div>
</div>
</li>

<li class="event">
<input type="radio" name="tl-group"/>
<label></label>
<div class="thumb birth"><span>01/10/2013</span></div>
<div class="content-perspective">
<div class="content">
<div class="content-inner">
<h3>ArcelorMittal</h3>
<p>人生第一份工作</p>
</div>
</div>
</div>
</li>

<li class="event">
<input type="radio" name="tl-group"/>
<label></label>
<div class="thumb birth"><span>??/??/??</span></div>
<div class="content-perspective">
<div class="content">
<div class="content-inner">
<h3>我的步伐用不停止</h3>
<p>有生命的地方就会有希望</p>
</div>
</div>
</div>
</li>

</ul>
</section>
</div>
</div>
{% endblock %}
